{% extends 'base.html' %}
{% block title %}Reportes{% endblock %}
{% block context %}
<h1>Reporte de Votos</h1>
<hr>
<p>Reporte de personas que no votaron</p>
<a href="#about" class="btn btn-primary btn-xl page-scroll wow tada">Ver</a>
{% endblock %}
{% block content %}
        <div class="container">
            <div class="row">
              <h2 class="section-heading text-center">Reporte de personas que no votaron</h2>
              <hr class="light">
              <div class="col-lg-8 col-lg-offset-2 table-responsive">
                <table class= "table table-bordered table-hover">
                  <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Voto</th>
                  </tr>
                  {% for item in object_list %}
                  {% if item.voto == False %}
                  <tr>
                    <td>{{ item.promovido_id }}</td>
                    <td>{{ item.promovido_nombre }}</td>
                    <td> No </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </table>
              </div>
            </div>
        </div>
        <div class="col-lg-1 col-lg-offset-5 ">
          <a style="margin-right: 15px" href="{% url 'csv_No_Votaron' %}" class="page-scroll btn btn-default btn-xl wow tada">Guardar</a>
        </div>
</section>
{% endblock %}
